* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.product-card {
  width: 300px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin: 20px;
  height: auto;
}

.product-image {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .product-title {
    color: #1a237e;
  }

  .product-price {
    font-weight: bold;
    color: #2e7d32;
    font-size: 18px;
  }

  .product-description {
    line-height: 1.5;
    font-size: 14px;
    color: #555;
    text-align: justify;
  }
}

.card-footer {
  .buy-button {
    display: block;
    background-color: #1a237e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: #0d1746;
  }
}
